<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>
<div id="products">
    <% @products.each do |product| %>
        <%= render 'show', product: product %>
    <% end %>
</div>

<br>

<h1>新しい写真</h1>
<%= render 'form' ,product: @new_product, submit_text: 'Create' %>
